@model LAB1.Models.Operator.OperatorRollBackTransferModel

<h4> RollBack Transfers Between Bank Accounts</h4>

<form asp-action="RollBackTransferBetweenBankAccounts" asp-controller="Operator" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <br>
    <hr class="style1">
    <br>
    <br>

    @foreach (var transfer in Model.Operator.TransfersBetweenBankAccounts)
    {
        <table class="table table-hover table-dark">
            <tbody>
                <tr>
                    <th scope="row">Client Id</th>
                    <td>@transfer.BankAccountWhereWithdrawed!.ClientId.ToString()</td>
                </tr>
                <tr>
                    <th scope="row">Withdrawed Account Name</th>
                    <td>@transfer.BankAccountWhereWithdrawed!.Name</td>
                </tr>
                <tr>
                    <th scope="row">Deposited Account Name</th>
                    <td>@transfer.BankAccountToDeposited!.Name</td>
                </tr>
            </tbody>
        </table>
    }

    <br>
    <br>
    <hr class="style1">
    <br>


    @if (Model.Operator.TransfersBetweenBankAccounts!.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedTransferId">
                <option selected>Choose Bank Account</option>
                @foreach (var transfer in Model.Operator.TransfersBetweenBankAccounts)
                {
                    <option value="@transfer.Transfer!.Id">@transfer.BankAccountWhereWithdrawed!.Name to @transfer.BankAccountToDeposited!.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>
    }
</form>