@using LAB1.Entities.UserCategories
@model LAB1.Models.Client.ClientProfileModel

@{
    if (Model.Client.CurrentBankId == 0)
    {
        Layout = "~/Views/Shared/_LayoutClientWithBanks.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutClientWithRequestApprove.cshtml";
    }
}

<form asp-action="Profile" asp-controller="Client" asp-anti-forgery="true">

    <h3>Hello @Model.Client.Name</h3>
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Model.Client.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.Client.Name</td>
        </tr>
        <tr>
            <th scope="row">Surname</th>
            <td>@Model.Client.Surname</td>
        </tr>
        <tr>
            <th scope="row">Patronymic</th>
            <td>@Model.Client.Patronymic</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>@Model.Client.Email</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td>@Model.Client.PhoneNumber</td>
        </tr>
        <tr>
            <th scope="row">Role Id</th>
            <td>@Model.Client.RoleId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Passport Number And Series</th>
            <td>@Model.Client.PassportNumberAndSeries</td>
        </tr>
        <tr>
            <th scope="row">Identification Number</th>
            <td>@Model.Client.IdentificationNumber</td>
        </tr>
        <tr>
            <th scope="row">Current Bank Id</th>
            <td>@Model.Client.CurrentBankId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Current Balance</th>
            <td>@Model.Client.BankBalance.ToString()</td>
        </tr>
        </tbody>
    </table>
</form>

<form asp-action="BankProfileForClient" asp-controller="Bank" asp-anti-forgery="true" method="get">

    @if (@Model.Client.Banks.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedBankId">
                <option selected>Choose...</option>
                @foreach (var i in Model.Client.Banks)
                {
                    <option value="@i.Id">@i.LegalName</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }

</form>