@model LAB1.Models.Client.ClientProfileModel

@{
    if (Model.Client.Banks.Count != Model.Banks.Count)
    {
        Layout = "~/Views/Shared/_LayoutClientWithBanks.cshtml";
    }
    else if (!Model.BanksWhereApproved.Contains(Model.Banks[(int)Model.Client.CurrentBankId - 1]))
    {
        Layout = "~/Views/Shared/_LayoutClientWithRequestApprove.cshtml";
    }
}

<form asp-action="ChangeBankId" asp-controller="Client" asp-anti-forgery="true" method="get">

    @if (Model.Client.Banks.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedBankId">
                <option selected>Choose...</option>
                @foreach (var bank in Model.Client.Banks)
                {
                    foreach (var approvedBank in Model.Client.BanksAndApproves)
                    {
                        if (bank.Equals(approvedBank.Bank) && approvedBank.Approved == true)
                        {
                            <option value="@bank.Id">@bank.LegalName</option>
                        }
                    }
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }

</form>


<form asp-action="Profile" asp-controller="Client" asp-anti-forgery="true">

    <h3>Hello @Model.Client.Name</h3>
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Model.Client.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.Client.Name</td>
        </tr>
        <tr>
            <th scope="row">Surname</th>
            <td>@Model.Client.Surname</td>
        </tr>
        <tr>
            <th scope="row">Patronymic</th>
            <td>@Model.Client.Patronymic</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>@Model.Client.Email</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td>@Model.Client.PhoneNumber</td>
        </tr>
        <tr>
            <th scope="row">Role Id</th>
            <td>@Model.Client.RoleId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Passport Number And Series</th>
            <td>@Model.Client.PassportNumberAndSeries</td>
        </tr>
        <tr>
            <th scope="row">Identification Number</th>
            <td>@Model.Client.IdentificationNumber</td>
        </tr>
        <tr>
            <th scope="row">Current Bank Id</th>
            <td>@Model.Client.CurrentBankId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Current Balance</th>
            <td>@Model.Client.BankBalance.ToString()</td>
        </tr>
        </tbody>
    </table>
    <br>
    <hr class="style1">
    <br>
    <table class="table table-hover table-dark">
        <tbody>
        @foreach (var i in Model.Client.OpennedBankAccounts)
        {
            <tr>
                <th scope="row">Id Of Bank, where bank account was opened</th>
                <td>@i.BankId.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Id Of Oppened bank account</th>
                <td>@i.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name Of Oppened bank account</th>
                <td>@i.Name</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney Of Oppened bank account</th>
                <td>@i.AmountOfMoney.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
</form>