@model LAB1.Models.Client.ClientProfileModel

@{
    if (Model.Client.Banks.Count != Model.Banks.Count)
    {
        Layout = "~/Views/Shared/_LayoutClientWithBanks.cshtml";
    }
    if (Model.Client.Banks.Count != 0)
    {
        Layout = "~/Views/Shared/_LayoutClientWithRequestApprove.cshtml";
    }
}

<div class="container">
    <div class="col">
        <div>
            <form asp-action="AddMoneyForClient" asp-controller="Client" asp-anti-forgery="true" method="get">
                <input class="btn btn-dark" type="submit" value="Add 10k">
            </form>
        </div>
        <div>
            <form asp-action="PayDay" asp-controller="Client" asp-anti-forgery="true" method="get">
                <input class="btn btn-dark" type="submit" value="It's PayDay, fellas!">
            </form>
        </div>
        <div>
            <form asp-action="RemoveAllMoneyFromClient" asp-controller="Client" asp-anti-forgery="true" method="get">
                <input class="btn btn-dark" type="submit" value="Remove All Money From Client">
            </form>
        </div>
        <div>
            <form asp-action="Wipe" asp-controller="Client" asp-anti-forgery="true" method="get">
                <input class="btn btn-danger" type="submit" value="Wipe Bank Deposits, Installment Plans, Bank Accounts etc.">
            </form>
        </div>
        <div>
            <form asp-action="UpdateInfo" asp-controller="Client" asp-anti-forgery="true" method="get">
                <input class="btn btn-success" type="submit" value="Update Info About Deposits / Installment Plans / Credits">
            </form>
        </div>
    </div>
</div>


<form asp-action="ChangeBankId" asp-controller="Client" asp-anti-forgery="true" method="get">

    <h4>Travel to bank page</h4>


    @if (Model.Client.Banks.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedBankId">
                <option selected>Choose Bank</option>
                @foreach (var bank in Model.Client.Banks)
                {
                    foreach (var approvedBank in Model.Client.BanksAndApproves)
                    {
                        if (bank.Equals(approvedBank.Bank) && approvedBank.Approved == true)
                        {
                            <option value="@bank.Id">@bank.LegalName</option>
                        }
                    }
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }

</form>
<br>
<hr class="style1">
<br>

<form asp-action="Profile" asp-controller="Client" asp-anti-forgery="true">

<h3>Hello @Model.Client.Name</h3>
<table class="table table-hover table-dark">
    <tbody>
    <tr>
        <th scope="row">Id</th>
        <td>@Model.Client.Id.ToString()</td>
    </tr>
    <tr>
        <th scope="row">Name</th>
        <td>@Model.Client.Name</td>
    </tr>
    <tr>
        <th scope="row">Surname</th>
        <td>@Model.Client.Surname</td>
    </tr>
    <tr>
        <th scope="row">Patronymic</th>
        <td>@Model.Client.Patronymic</td>
    </tr>
    <tr>
        <th scope="row">Email</th>
        <td>@Model.Client.Email</td>
    </tr>
    <tr>
        <th scope="row">Phone Number</th>
        <td>@Model.Client.PhoneNumber</td>
    </tr>
    <tr>
        <th scope="row">Role Id</th>
        <td>@Model.Client.RoleId.ToString()</td>
    </tr>
    <tr>
        <th scope="row">Passport Number And Series</th>
        <td>@Model.Client.PassportNumberAndSeries</td>
    </tr>
    <tr>
        <th scope="row">Identification Number</th>
        <td>@Model.Client.IdentificationNumber</td>
    </tr>
    <tr>
        <th scope="row">Current Bank Id</th>
        <td>@Model.Client.CurrentBankId.ToString()</td>
    </tr>
    <tr>
        <th scope="row">Salary</th>
        <td>@Model.Client.Salary.ToString()</td>
    </tr>
    <tr>
        <th scope="row">Current Cash Balance</th>
        <td>@Model.Client.BankBalance.ToString()</td>
    </tr>
    <tr>
        <th scope="row">Work</th>
        <td>@Model.Client.Work.LegalName</td>
    </tr>
    </tbody>
</table>
<br>
<hr class="style1">
<br>
<br>
<hr class="style1">
<br>

<h1> Openned Bank Accounts </h1>
@foreach (var i in Model.Client.OpennedBankAccounts)
{
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id Of Bank, where bank account was opened</th>
            <td>@i.BankId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Id Of Oppened bank account</th>
            <td>@i.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Name Of Oppened bank account</th>
            <td>@i.Name</td>
        </tr>
        <tr>
            <th scope="row">AmountOfMoney Of Oppened bank account</th>
            <td>@i.AmountOfMoney.ToString()</td>
        </tr>
        </tbody>
    </table>
}

<br>
<hr class="style1">
<br>
<br>
<hr class="style1">
<br>
<h1> Openned Bank Deposits </h1>

@foreach (var i in Model.Client.OpennedBankDeposits)
{
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id Of Bank, where bank deposit was opened</th>
            <td>@i.BankId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Id Of Oppened bank Deposit</th>
            <td>@i.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Name Of Oppened bank Deposit</th>
            <td>@i.Name</td>
        </tr>
        <tr>
            <th scope="row">AmountOfMoney Of Oppened bank Deposit</th>
            <td>@i.AmountOfMoney.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Opened</th>
            <td>@i.DateOfDeal.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Will close</th>
            <td>@i.DateOfMoneyBack.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Days remaining</th>
            <td>(@i.HowMuchLasts.ToString())</td>
        </tr>
        </tbody>
    </table>
}
<br>
<hr class="style1">
<br>

<br>
<hr class="style1">
<br>
<h1> Openned Bank Installment Plan </h1>

@if (Model.Client.InstallmentPlansAndApproves.Count != null)
{
    <table class="table table-hover table-dark">
        <tbody>
        @foreach (var installmentPlan in Model.Client.InstallmentPlansAndApproves)
        {
            <tr>
                <th scope="row">Id Of Bank, where bank installmentPlan was opened</th>
                <td>@installmentPlan.InstallmentPlan.BankId.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Id Of Oppened Installment Plan</th>
                <td>@installmentPlan.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">How Much Days Lasts</th>
                <td>@installmentPlan.InstallmentPlan.HowMuchLasts.ToString()</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney</th>
                <td>@installmentPlan.InstallmentPlan.AmountOfMoney.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Approved</th>
                <td>@installmentPlan.Approved.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
<br>
<hr class="style1">
<br>

<br>
<hr class="style1">
<br>
<h1> Openned Credits </h1>

@if (Model.Client.CreditsAndApproves!.Count != null)
{
    <table class="table table-hover table-dark">
        <tbody>
        @foreach (var credit in Model.Client.CreditsAndApproves)
        {
            <tr>
                <th scope="row">Id Of Bank, where bank installmentPlan was opened</th>
                <td>@credit.Credit.BankId.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Id Of Oppened Installment Plan</th>
                <td>@credit.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">How Much Days Lasts</th>
                <td>@credit.Credit.HowMuchLasts.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Percent</th>
                <td>@credit.Credit.Percent.ToString()</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney</th>
                <td>@credit.Credit.AmountOfMoney.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Approved</th>
                <td>@credit.Approved.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}
<br>
<hr class="style1">
<br>

</form>