@model LAB1.Models.Manager.ManagerProfileModel

@{
}

<form asp-action="Profile" asp-controller="Manager" asp-anti-forgery="true">

    <h3>Hello @Model.Manager.Name</h3>
    <table class="table table-hover table-dark">
        <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>@Model.Manager.Id.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@Model.Manager.Name</td>
        </tr>
        <tr>
            <th scope="row">Surname</th>
            <td>@Model.Manager.Surname</td>
        </tr>
        <tr>
            <th scope="row">Patronymic</th>
            <td>@Model.Manager.Patronymic</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>@Model.Manager.Email</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td>@Model.Manager.PhoneNumber</td>
        </tr>
        <tr>
            <th scope="row">Role Id</th>
            <td>@Model.Manager.RoleId.ToString()</td>
        </tr>
        <tr>
            <th scope="row">Bank Id</th>
            <td>@Model.Manager.BankId.ToString()</td>
        </tr>
        </tbody>
    </table>
</form>