@model LAB1.Models.Administrator.AdministratorRollBackDeletedBankAccountModel
<h4>RollBack Deleted Bank Account</h4>

<form asp-action="RollBackDeletedBankAccount" asp-controller="Administrator" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <br>
    <hr class="style1">
    <br>
    <br>

    @foreach (var deletedBankAccount in Model.Administrator.DeletedBankAccounts)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Client Name</th>
                <td>@deletedBankAccount.Client!.Name</td>
            </tr>
            <tr>
                <th scope="row">Bank Account Name</th>
                <td>@deletedBankAccount.BankAccount!.Name</td>
            </tr>

            </tbody>
        </table>
    }

    <br>
    <br>
    <hr class="style1">
    <br>


    @if (Model.Administrator.DeletedBankAccounts!.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedBankAccountId">
                <option selected>Choose Bank Account</option>
                @foreach (var deletedBankAccount in Model.Administrator.DeletedBankAccounts)
                {
                    <option value="@deletedBankAccount.BankAccount!.Id">@deletedBankAccount.Client!.Name - @deletedBankAccount.BankAccount!.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }
</form>