@model LAB1.Models.Administrator.AdministratorRollBackBankDepositClosingModel
<h4>RollBack Deposit Closing</h4>
<form asp-action="RollBackBankDepositClosing" asp-controller="Administrator" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <br>
    <hr class="style1">
    <br>
    <br>

    @foreach (var closedDeposit in Model.Administrator.ClosedDepositsToRollBack)
    {
        <table class="table table-hover table-dark">
            <tbody>
                <tr>
                    <th scope="row">Client Name</th>
                    <td>@closedDeposit.Client!.Name</td>
                </tr>
                <tr>
                    <th scope="row">Bank Deposit Name</th>
                    <td>@closedDeposit.BankDeposit!.Name</td>
                </tr>
                <tr>
                    <th scope="row">Amount Of Money</th>
                    <td>@closedDeposit.BankDeposit!.AmountOfMoney.ToString()</td>
                </tr>
            </tbody>
        </table>
    }

    <br>
    <br>
    <hr class="style1">
    <br>


    @if (Model.Administrator.ClosedDepositsToRollBack!.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedDepositId">
                <option selected>Choose Bank Deposit</option>
                @foreach (var closedDeposit in Model.Administrator!.ClosedDepositsToRollBack)
                {
                    <option value="@closedDeposit.BankDeposit!.Id">@closedDeposit.Client!.Name - @closedDeposit.BankDeposit!.Name</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn" />
            </div>
        </div>
    }
</form>