@model LAB1.Models.Administrator.AdministratorRollBackOpenedInstallmentPlanModel
<h4>RollBack Opened Installment Plan</h4>

<form asp-action="RollBackOpenedInstallmentPlan" asp-controller="Administrator" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <br>
    <hr class="style1">
    <br>
    <br>

    @foreach (var opennedInstallmentPlan in Model.Administrator.OpennedInstallmentPlans)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Client Name</th>
                <td>@opennedInstallmentPlan.Client!.Name</td>
            </tr>
            <tr>
                <th scope="row">Amount Of Money</th>
                <td>@opennedInstallmentPlan.InstallmentPlan!.AmountOfMoney.ToString()</td>
            </tr>

            </tbody>
        </table>
    }

    <br>
    <br>
    <hr class="style1">
    <br>


    @if (Model.Administrator.OpennedInstallmentPlans.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.SelectedInstallmentPlanId">
                <option selected>Choose Installlment Plan</option>
                @foreach (var opennedInstallmentPlan in Model.Administrator.OpennedInstallmentPlans)
                {
                    <option value="@opennedInstallmentPlan.InstallmentPlan!.Id">@opennedInstallmentPlan.Client!.Name - @opennedInstallmentPlan.InstallmentPlan.AmountOfMoney.ToString()</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    }
</form>