@model LAB1.Models.Bank.CloseBankAccountForClientModel

<h4>Close An Bank Account</h4>

<br>
<hr class="style1">
<br>

@foreach (var i in Model.Client.OpennedBankAccounts)
{
    if (i.BankId == Model.Bank!.Id)
    {
        if (!(bool)i.Hidden!)
        {
            <table class="table table-hover table-dark">
                <tbody>
                    <tr>
                        <th scope="row">Id Of Oppened bank account</th>
                        <td>@i.Id.ToString()</td>
                    </tr>
                    <tr>
                        <th scope="row">Name Of Oppened bank account</th>
                        <td>@i.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">AmountOfMoney Of Oppened bank account</th>
                        <td>@i.AmountOfMoney.ToString()</td>
                    </tr>
                </tbody>
            </table>
        }
    }
}
<br>
<hr class="style1">
<br>

<form asp-action="CloseBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true" method="post">

    @if (Model.Client.Banks!.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfBankAccountToClose">
                <option selected>Choose...</option>
                @foreach (var bankAccount in Model.Client.OpennedBankAccounts)
                {
                    if (bankAccount.IsASalaryProjectAccount != true)
                    {
                        <option value="@bankAccount.Id">@bankAccount.Name</option>
                    }
                }
            </select>
            <div class="form-group">
                <input class="btn btn-danger" type="submit" value="Close An Bank Account">
            </div>
        </div>
    }
</form>