@model LAB1.Models.Bank.FreezeBankDepositModel

@foreach (var OpennedDeposits in Model.Client.OpennedBankDeposits)
{
    if (OpennedDeposits.BankId == Model.Bank.Id && !(bool)OpennedDeposits.Frozen! && !(bool)OpennedDeposits.Blocked!)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.Name</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.AmountOfMoney.ToString()</td>
            </tr>
            </tbody>
        </table>
        <br>
        <hr class="style1">
        <br>
    }
}

<form asp-action="FreezeBankDeposit" asp-controller="Bank" asp-anti-forgery="true" method="post">

    @if (Model.Client.OpennedBankDeposits.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfDepositToFreeze">
                <option selected>Choose...</option>
                @foreach (var opennedBankDeposit in Model.Client.OpennedBankDeposits)
                {
                    if (opennedBankDeposit.HowMuchLasts != 0 && !(bool)opennedBankDeposit.Frozen! && !(bool)opennedBankDeposit.Blocked!)
                    {
                        <option value="@opennedBankDeposit.Id">@opennedBankDeposit.Name</option>
                    }
                }
            </select>
            <div>
                <input type="submit" value="Speed Run"/>
            </div>
        </div>
    }
</form>