@model LAB1.Models.Bank.GetMoneyFromBankAccountForClientModel

<h4>Get Money From An Bank Account</h4>

<br>
<hr class="style1">
<br>
@foreach (var OpennedBankAccount in Model.Client.OpennedBankAccounts)
{
    if (OpennedBankAccount.BankId == Model.Bank.Id)
    {
        if (!(bool)OpennedBankAccount.Hidden!)
        {
            <table class="table table-hover table-dark">
                <tbody>
                <tr>
                    <th scope="row">Id Of Oppened bank account</th>
                    <td>@OpennedBankAccount.Id.ToString()</td>
                </tr>
                <tr>
                    <th scope="row">Name Of Oppened bank account</th>
                    <td>@OpennedBankAccount.Name</td>
                </tr>
                <tr>
                    <th scope="row">AmountOfMoney Of Oppened bank account</th>
                    <td>@OpennedBankAccount.AmountOfMoney.ToString()</td>
                </tr>
                </tbody>
            </table>
        }
    }
}
<br>
<hr class="style1">
<br>

<form asp-action="GetMoneyFromBankAccountForClient" asp-controller="Bank" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>

    @if (Model.Client.OpennedBankAccounts.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfBankAccountToWithdraw">
                <option selected>Choose...</option>
                @foreach (var OpennedBankAccount in Model.Client.OpennedBankAccounts)
                {
                    if (!(bool)OpennedBankAccount.Hidden!)
                    {
                        <option value="@OpennedBankAccount.Id">@OpennedBankAccount.Name</option>
                    }
                }
            </select>

            <label asp-for="AmountOfMoney">Amount Of Money</label><br/>
            <input type="double" asp-for="AmountOfMoney"/>
            <input type="submit" value="Withdraw"/>
        </div>
    }
</form>