@model LAB1.Models.Bank.GetMoneyFromDepositModel

<h4>Get Money From Deposit</h4>

@foreach (var OpennedDeposits in Model.Client.OpennedBankDeposits!)
{
    if (OpennedDeposits.BankId == Model.Bank.Id)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Name Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.Name</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney Of Oppened bank Deposit</th>
                <td>@OpennedDeposits.AmountOfMoney.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Days</th>
                <td>@OpennedDeposits.HowMuchLasts</td>
            </tr>
            </tbody>
        </table>
        <br>
        <hr class="style1">
        <br>
    }
}

<form asp-action="GetMoneyFromDeposit" asp-controller="Bank" asp-anti-forgery="true" method="post">
    <div class="validation" asp-validation-summary="All"></div>

    @if (Model.Client.OpennedBankDeposits.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfDepositToWithdraw">
                <option selected>Choose...</option>
                @foreach (var opennedBankDeposit in Model.Client.OpennedBankDeposits)
                {
                    if (opennedBankDeposit.HowMuchLasts == 0)
                    {
                        <option value="@opennedBankDeposit.Id">@opennedBankDeposit.Name</option>
                    }
                }
            </select>
            <div>
                <input type="submit" value="Withdraw"/>
            </div>
        </div>
    }
</form>