@model LAB1.Models.Bank.PayForCreditModel

@foreach (var opennedCredit in Model.Client.CreditsAndApproves)
{
    if (opennedCredit.Credit.BankId == Model.Bank.Id && opennedCredit.Approved == true)
    {
        <table class="table table-hover table-dark">
            <tbody>
            <tr>
                <th scope="row">Id Of Bank, where bank credit was opened</th>
                <td>@opennedCredit.Credit.BankId.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Id Of Oppened Installment Plan</th>
                <td>@opennedCredit.Id.ToString()</td>
            </tr>
            <tr>
                <th scope="row">AmountOfMoney</th>
                <td>@opennedCredit.Credit.AmountOfMoney.ToString()</td>
            </tr>
            <tr>
                <th scope="row">Approved</th>
                <td>@opennedCredit.Approved.ToString()</td>
            </tr>
            </tbody>
        </table>
        <br>
        <hr class="style1">
        <br>
    }
}

<form asp-action="PayForCredit" asp-controller="Bank" asp-anti-forgery="true" method="post">

    @if (Model.Client.CreditsAndApproves.Count != 0)
    {
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model!.IdOfCreditToPay">
                <option selected>Choose...</option>
                @foreach (var opennedCredit in Model.Client.CreditsAndApproves)
                {
                    if (opennedCredit.Credit.BankId == Model.Bank.Id && opennedCredit.Approved == true && opennedCredit.Credit.HowMuchLasts == 0)
                    {
                        <option value="@opennedCredit.Id">@opennedCredit.Credit.AmountOfMoney.ToString()</option>
                    }
                }
            </select>
            <div>
                <input type="submit" value="Pay"/>
            </div>
        </div>
    }
</form>